* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b2042;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 300px; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 650px;
  margin-top: 50px;
  padding-top: 30px;
  background-color: #8a8fad;
  border: 1px solid #1b2042;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(0.9);
  transition: all 0.5s;
}

.content:hover {
  background-color: #7780b1;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transform: scale(1);
}

.content > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #263b37e1;
}

.content > p {
  margin-top: 20px;
  color: #263b37e1;
  font-size: 35px;
}

.content > h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  color: #263b37e1;
  font-size: 30px;
}

.content > button {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #1b2042;
  border-radius: 15px;
  color: #1b2042;
  background-color: cornsilk;
  transition: all 0.5s;
}

#refresh {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #1b2042;
  border-radius: 15px;
  color: #e2e6ff;
  background-color: rgb(60, 54, 34);
  transition: all 0.5s;
}

.content > #refresh:hover {
  background-color: #bdbbb6;
  color: rgb(60, 54, 34);
}

.content > #refresh:active {
  background-color: #aadaeed6;
  color: rgb(143, 135, 104);
}

.content > button:hover {
  background-color: #1b2042;
  color: cornsilk;
}

.content > button:active {
  background-color: #97c5d9d6;
  color: cornsilk;
}

#text1,
#text2,
#text3 {
  color: rgb(222, 219, 199);
  font-family: monospace;
}

@media (max-width: 964px) and (min-width: 666.67px)
{
  .content {
    font-size: 15px;
    width: 70%;
  height: 650px;
  }
}
